.debug header {
    height: 50px;
    background-color: red;
}

.debug .wrapper {
    background-color: rgb(243, 243, 95);
}

.debug .sidebar {
    background-color: rgb(0, 0, 0);
}

.debug .banner {
    background-color: rgb(20, 203, 220);
    height: 100px;
}

.debug [class^="col-"] {
    background-color: darkorange;
    min-height: 50px;

}

#app_header {
    height: 50px;
}

.wrapper {
    height: calc(100vh - 50px);

}

.sidebar {
    background-color: black;
    width: 4rem;
    overflow: hidden;
}

main {
    width: calc(100% - 4rem);
    overflow-y: auto;
}
.banner{
    height: 6rem;
}
img{
    max-width: 100%;
}

/*#region mediaquery */
@media screen and (min-width:992px) {
    .sidebar {
        width: 8rem;
    }

    main {
        width: calc(100% - 8rem);
        overflow-y: auto;
    }
}
.sidebar_bottom{
    padding-top:27rem;
}
/*#endregion mediaquery */